<ul class="nav pull-right">
  <li>
    <%= link_to 'About', about_path %>
  </li>
  <li>
    <%= link_to 'Browse', audio_videos_path %>
  </li>
  <% if current_user %>
    <li>
      <%= link_to 'Learn', memorize_index_path %>
    </li>
    <li>
    <%= button_to 'Log out', destroy_user_session_path, :method => 'delete' %>
    </li>
  <% else %>
    <li><%= link_to 'Log in', user_session_path %></li>
  <% end %>
</ul>
