<h3> HELP </h3>
<ul>
  <li>
    Generate json transcript from LRC (karaoke format) <%= link_to 'lrc/new', lrc_new_path %>
  </li>
  <li>
    Generate json transcript from SRT (movie scenes) <%= link_to 'srt/new', srt_new_path %>
  </li>
  <li>
    Generate json transcript from Youtube automatic caption <%= link_to 'youtbue/new', youtube_parser_new_path %>
  </li>
  <li>
    Generate json transcript from text lyrics <%= link_to 'text_lyrics/new', text_lyrics_new_path %>
  </li>
  <li>
    Shift existing video by x <%= link_to 'shift_transcipt', shift_transcript_path %>
  </li>
  <li>
    Get transcript for a TED video x <%= link_to 'ted_transcript', ted_transcript_path %>
  </li>
</ul>
