<script> window.audioVideo = <%= raw @audio_video.to_json %>; </script>
<script> window.isYoutubeVideo = <%= raw @audio_video.youtube? %>; </script>

<div class="">
  <h3 > <%= @audio_video.name %> </h3>
</div>
<div ng-app='LApp' class="row">
  <div class="span8" ng-controller="TranscriptCtrl" >
    <div ng-controller="VideoInfoCtrl">
      <div class='player-containter'>
        <% if @audio_video.youtube? %>
          <%= render 'shared/youtube', audio_video: @audio_video %>
      <% else %>
          <%= render 'shared/videojs', audio_video: @audio_video  %>
      <%end %>
        <div class='game-menu game-shared-screen {{currentState}}'>
          <h3>Select difficulty:</h3>
          <ul>
            <li><a ng-click="selectGameDifficulty('karaoke', 'true')">Karaoke and edit</a></li>
          </ul>

        </div>
        <div class='video-info'>
          <div class='app-controls {{currentState}}'>
            <a title='replay line' ng-click='invokeAction("beginningOfline")'>↺</a>
            <a title='restart game' ng-click="restartGame()">⌽</a>
          </div>
          <div class='app-time'>{{currentVideoTime}} / {{videoDuration | toMinSec}}</div>
        </div>
      </div>
    </div>
    <div id="transcript-player" data-id='text-player' tabindex="1" ng-keypress='listenForKey' class='transcript-player'>
      <div class='game-end game-shared-screen {{currentState}}'>
        <h3>Congratulations! </h3>
        <p>It took you {{stats.time | millisecondsToTime}} to complete that video.</p>
        <p>And you guessed {{stats.guessed}} out of {{stats.blanks}} words.</p>

        <p>Your score was saved</p>
        <p><a ng-click="restartGame()">Restart game</a></p>
      </div>

      <div class='game-starting game-shared-screen {{currentState}}'></div>

      <ul class="lines" style="top:{{currentLineTopPosition}}px">
        <li ng-repeat="line in transcript">
        <p data-line-id={{line.htmlId()}}>
          <input class='time' ng-model="line.time">
          <input class='word' ng-model="line.text">
        </p>
        </li>
      </ul>
    </div>

    <textarea style="width: 760px; height: 500px;">{{transcript | onlyTimeAndText}}</textarea>

    <p>END</p>

  </div>

  <div id="help" class="span4" ng-controller='HelpCtrl' >
    <h4>Help</h4>
    <h5>Type and fill in the blank spaces</h5>

    <table class='table table-condensed sidebar-table'>
      <tr> <td><a ng-click='invokeAction("skipWord")'>tab</a></td><td>skip word</td> </tr>
      <tr> <td><a ng-click='invokeAction("togglePlayer")'>space</a></td><td>play / pause</td> </tr>
      <tr> <td><a ng-click='invokeAction("beginningOfline")'>enter</a></td><td>replay line</td> </tr>
      <tr> <td><a ng-click='invokeAction("lineUp")'>&uarr;</a></td><td>previous line</td> </tr>
      <tr> <td><a ng-click='invokeAction("lineDown")'>&darr;</a></td><td>next line</td> </tr>
    </table>
  </div>

  <div ng-controller='AdminActionsCtrl' class="span4">
    <table class='table table-condensed sidebar-table'>
      <tr> <td><a ng-click='saveVideoDuration()'>save</a></td><td>save Video length</td> </tr>
    </table>
  </div>
</div>
