<div class='span12'>
  <ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %><span class="divider">/</span></li>
    <li class="active"><%= @category ? @category.name : 'All' %></li>
  </ol>
</div>

<div class='media-grid span10'>
<% @audio_videos.each do |audio_video| %>
  <%= render 'shared/audio_video', audio_video: audio_video %>
<% end %>
</div>

<div class='span2'>
  <ul class='nav nav-list'>
    <li>
      <%= link_to 'All', audio_videos_path %>
    </li>
  <% @categories.each do |category| %>
    <li class='<%= (category == @category ) ? "active" : ""%>'>
      <%= link_to category.name, audio_videos_path(:category_id => category.id)%>
    </li>
  <% end %>
  <ul>
</div>
