<h2>Recent videos</h2>

<div class='media-grid span8'>
<% @audio_videos.each do |audio_video| %>
  <div class='video'>
    <%= link_to image_tag('http://placehold.it/210x166'), audio_video_path(audio_video), :class => 'preview' %>
    <div class='info'>
      <div>
        <%= link_to audio_video.name, audio_video_path(audio_video), :class => 'preview' %>
      </div>
      <span>
        Added: <%= time_ago_in_words(audio_video.created_at) %> ago
      </span>
    </div>
  </div>
<% end %>
</div>

<div class='span3'>
  <ul class='nav nav-list'>
  <% @categories.each do |category| %>
    <li class='<%= (category == @category ) ? "active" : ""%>'>
      <%= link_to category.name, audio_videos_path(:category_id => category.id)%>
    </li>
  <% end %>
  <ul>
</div>
