<% page_title ='Level up your English by playing: ' + @audio_video.name %>

<% title(page_title) %>
<script> window.audioVideo = <%= raw @audio_video.to_json(methods: [:level_name]) %>; </script>
<script> window.isYoutubeVideo = <%= raw @audio_video.youtube? %>; </script>

<div class="span12">
  <ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %><span class="divider">/</span></li>
    <li><%= link_to @audio_video.category_name, audio_videos_path(:category_id => @audio_video.category_id)%><span class="divider">/</span></li>
    <li class="active"><%= @audio_video.name %></li>
  </ol>
</div>

<div ng-app='LApp' class="lapp">
  <div class="span8">

    <div ng-controller="VideoInfoCtrl">
      <div class='player-containter'>
        <% if @audio_video.youtube? %>
          <%= render 'shared/youtube', audio_video: @audio_video %>
      <% else %>
          <%= render 'shared/videojs', audio_video: @audio_video  %>
      <%end %>
        <div class='game-menu {{currentState}}'>
          <div class='menu-wrapper'>
          <h3>Select difficulty:</h3>
          <ul>
            <li class='easy'><a ng-click="selectGameDifficulty('easy')">Easy</a></li>
            <li class='medium'><a ng-click="selectGameDifficulty('normal')">Normal</a></li>
            <li class='hard'><a ng-click="selectGameDifficulty('hard')">Hard</a></li>
            <li class='just-listen'><a ng-click="selectGameDifficulty('karaoke')">Or just listen</a></li>
          </ul>
        </div>

        </div>
        <div class='video-info'>
          <div class='app-controls {{currentState}}'>
            <a tooltip='play' tooltip-placement="top" class='play' ng-click='invokeAction("togglePlayer")'></a>
            <a tooltip='pause' tooltip-placement="top" class='pause' ng-click='invokeAction("togglePlayer")'></a>
            <a tooltip='replay line' tooltip-placement="top" class="replay-line" ng-click='invokeAction("beginningOfline")'></a>
            <a tooltip='skip word' tooltip-placement="top" class="skip-word" ng-click='invokeAction("skipWord")'></a>
            <a tooltip='line up' tooltip-placement="top" class="line-up" ng-click='invokeAction("lineUp")'></a>
            <a tooltip='line down' tooltip-placement="top" class="line-down" ng-click='invokeAction("lineDown")'></a>
            <a tooltip='restart game' tooltip-placement="top" class="restart-game" ng-click="restartGame()"></a>
          </div>
          <div class='app-progress'>
            <progress percent="progressValue"></progress>
          </div>
          <div class='app-time'>{{currentVideoTime | toMinSec}} / {{videoDuration | toMinSec}}</div>
        </div>
      </div>
    </div>

    <div id="transcript-player" data-id='text-player' tabindex="1" ng-controller="TranscriptCtrl" ng-keypress='listenForKey' class='transcript-player'>

      <div class='game-end game-shared-screen {{currentState}}'>
        <h3>Good job!</h3>

        <h4 class='total'> You scored: <span class='points'>{{stats.total_points}}</span> points</h4>

        <ul class='breakdown'>
          <li>words: {{stats.guessed}} guessed words = {{stats.guessed}} points</li>
          <li>time bonus: {{stats.summary.time_bonus}} </li>
        </ul>

        <p class='restart'><a ng-click="restartGame()">Restart game</a></p>
      </div>

      <div class='game-setup-info game-shared-screen {{currentState}}'>
        <div>
          <h4>Type and fill in the blank spaces after the game starts</h4>
          <p>To help you navigate over the transcript there are some useful keyaboard shortcuts: </p>
          <table class='table table-condensed'>
            <tr> <td><span>[tab]</span> skip/show word if you can't guess it</td> </tr>
            <tr> <td><span>[space]</span> play / pause video</td> </tr>
            <tr> <td><span>[enter]</span> replay line if you didn't get the missing word</td> </tr>
            <tr> <td><span>[up]</span> go to previous line</td> </tr>
            <tr> <td><span>[down]</span> go to next line</td> </tr>
          </table>
        </div>
      </div>

      <div class='game-starting game-shared-screen {{currentState}}'></div>

      <ul class='lines' style="top:{{currentLineTopPosition}}px">
        <li ng-repeat="line in transcript">
          <pline line="line" add-to-phrasebook="addToPhrasebook(phrasedata)"></pline>
        </li>
      </ul>
    </div>
  </div>

  <div class="video-meta-info span4">
    <table class='table table-condensed sidebar-table'>
      <tr>
        <td colspan='2'><h1 class="video-title"><%= @audio_video.name %> <%= video_level(@audio_video.level_name) %></h1></td>
      </tr>
      <tr>
        <td class='link-to-original'>orignal</td><td class='link-to-original'><%= link_to truncate(@audio_video.url, length: 40), @audio_video.url %></td>
      </tr>
      <tr>
        <td>share</td>
        <td colspan='1'><%= social_share_button_tag(page_title) %></td>
      </tr>
      <% if current_user && current_user.admin? %> 
      <tr>
        <td colspan='2'>
          <%= link_to 'edit', edit_audio_video_path(@audio_video) %> 
        </td>
      </tr>
    <% end %> 
    </table>
  </div>
  <div class="score span4" ng-controller="StatsCtrl">
    <h4>Stats</h4>
    <table class='table table-condensed sidebar-table'>
      <tr>
        <td>words</td><td>{{stats.guessed}} / {{stats.blanks}}</td>
      </tr>
      <tr>
        <td>skipped</td><td>{{stats.skipped}}</td>
      </tr>
      <tr>
        <td>mistakes</td><td>{{stats.mistakes}}</td>
      </tr>
      <tr>
        <td>time</td><td>{{stats.currentTime() | millisecondsToTime}}</td>
      </tr>
    </table>
  </div>

  <div id="phrase-book" ng-controller='PhrasesCtrl' class="span4">
    <h4>Phrasebook</h4>
    <% if current_user %>
    <table class='table table-condensed sidebar-table'>
      <tr class="" ng-repeat="phrase in phrases">
        <td><phrase phrase-object={{phrase}}></phrase></td>
      </tr>
    </table>
    <% else %>
      <p> Please <%= link_to 'sign in', user_session_path %> to add a word to your phrasebook.<br /> Just click on the word you're interested in.</p>
    <% end %>
  </div>
</div>
