<script> window.audioVideo = <%= raw @audio_video.to_json %>; </script>
<script> window.isYoutubeVideo = <%= raw @audio_video.youtube? %>; </script>

<div ng-app='LApp' class="span12">
  <div class="span8">

    <div class='player-containter'>
    <% if @audio_video.youtube? %>
      <%= render 'shared/youtube', audio_video: @audio_video %>
    <% else %>
      <%= render 'shared/videojs', audio_video: @audio_video  %>
    <%end %>
    </div>

    <div id="transcript-player" data-id='text-player' tabindex="1" ng-controller="TranscriptCtrl" ng-keypress='listenForKey'>
      <div class='player-overlay {{currentState}}'><a ng-click="onPlayClick()"><%= image_tag 'play_button.png' %></a></div>

      <ul style="top:{{currentLineTopPosition}}px">
        <li ng-repeat="line in transcript">
        <p data-line-id={{line.htmlId()}} ng-controller="LineCtrl">
        <span class="word" ng-click="lookUpInDict(this)" data-word="{{word}}" ng-repeat="word in line.words()">
          <span class="raw-word" ng-bind-html-unsafe="word">&nbsp;</span>
        </span>
        </p>
        </li>
      </ul>
    </div>
  </div>

  <div class="score span4" ng-controller="StatsCtrl">
    <h4>Stats</h4>
    <table class='table table-condensed sidebar-table'>
      <tr>
        <td>blanks</td><td>{{stats.allBlanks}}</td>
      </tr>
      <tr>
        <td>guessed</td><td>{{stats.guessed}}</td>
      </tr>
      <tr>
        <td>skipped</td><td>{{stats.skipped}}</td>
      </tr>
      <tr>
        <td>mistakes</td><td>{{stats.mistakes}}</td>
      </tr>
    </table>
  </div>

  <div id="help" class="span4">
    <h4>Help</h4>
    <h5>Type and fill in the blank spaces</h5>

    <table class='table table-condensed sidebar-table'>
      <tr>
        <td>tab</td><td>skip word</td>
      </tr>
      <tr>
        <td>enter</td><td>play / pause</td>
      </tr>
      <tr>
        <td>&uarr;</td><td>previous line</td>
      </tr>
      <tr>
        <td>&darr;</td><td>next line</td>
      </tr>
      <tr>
        <td>&larr;</td><td>beginning of line</td>
      </tr>
    </table>

  </div>

  <div id="phrase-book" ng-controller='PhrasesCtrl' class="span4">
    <h4>Phrasebook</h4>
    <% if current_user %>
    <table class='table table-condensed sidebar-table'>
      <tr class="" ng-repeat="phrase in phrases">
        <td><phrase phrase-object={{phrase}}></phrase><td>
      </tr>
    </table>
    <% else %>
      <p> Please <%= link_to 'sign in', user_session_path %> to add a word to your phrase book.<br /> Just click on the word you're interested.</p>
    <% end %>
  </div>
</div>
