<script> window.audioVideo = <%= raw @audio_video.to_json %>; </script>
<script> window.isYoutubeVideo = <%= raw @audio_video.youtube? %>; </script>

<div ng-app='LApp' class="span12">
  <div class="span8">

    <div class='player-containter'>
    <% if @audio_video.youtube? %>
      <%= render 'shared/youtube', audio_video: @audio_video %>
    <% else %>
      <%= render 'shared/videojs', audio_video: @audio_video  %>
    <%end %>
    </div>

    <div id="transcript-player" data-id='text-player' ng-controller="TranscriptCtrl">
      <div class='player-overlay {{currentState}}'><a ng-click="onPlayClick()"><%= image_tag 'play_button.png' %></a></div>

      <ul style="top:{{currentLineTopPosition}}px">
        <li ng-repeat="line in transcript">
        <p data-line-id={{line.htmlId()}} ng-controller="LineCtrl">
        <span class="word" ng-click="lookUpInDict(this)" data-word="{{word}}" ng-repeat="word in line.words()">
          <span class="raw-word" ng-bind-html-unsafe="word">&nbsp;</span>
        </span>
        </p>
        </li>
      </ul>
    </div>
  </div>

  <div id="score" class="span4" ng-controller="StatsCtrl">
    <h4>Stats</h4>
    <div>
      {{stats.allBlanks}} blank words in total
    </div>
    <div>
      {{stats.guessed}} guessed
    </div>
    <div>
      {{stats.skipped}} skipped
    </div>
  </div>

  <div id="help" class="span4">
    <h4>Help</h4>

    <h5>Type and fill in the blank spaces</h5>

    <div>tab - <span>skip word</span></div>
    <div>enter - <span>play / pause</span></div>
    <div> ↑ - <span>previous line</span></div>
    <div> ↓ - <span>next line</span></div>
  </div>

  <div id="phrase-book" ng-controller='PhrasesCtrl' class="span4">
    <h4>Phrase Book</h4>
    <% if current_user %>
    <ul class='nav nav-list'>
      <li class="" ng-repeat="phrase in phrases">
        <phrase phrase-object={{phrase}}></phrase>
      </li>
    </ul>
  <% else %>
    <p> Please <%= link_to 'sign in', user_session_path %> to add a word to your phrase book.<br /> Just click on the word you're interested.</p>
  <% end %>
  </div>
</div>
