<!DOCTYPE html>
<html>
  <head>
    <title>LangWiz - listen, learn, repeat</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script>
      LApp.currentUser = <%= raw((current_user).to_json ) %>;
    </script>
  </head>

  <body class="<%= current_user ? 'signed-in' : '' %>">
    <div class="navbar navbar-default">
      <div class="navbar-inner">
        <div class="container">
          <a href="/" class="navbar-brand">LangWiz</a>
          <%= render 'shared/user_session' %>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row-fluid">
        <%= yield %>
      </div>

      <hr>

      <div class="footer" class="span-12">
        <p>© Sparrovv & Porzucek 2013</p>
      </div>
    </div>
  </body>
</html>
