<!DOCTYPE html>
<html>
  <head>
    <title>LvlApp - Level up your English and take it to the new level. Listen songs, movie clips and fill in blanks</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script>
      LApp.currentUser = <%= raw((current_user).to_json ) %>;
    </script>
  </head>

  <body class="<%= current_user ? 'signed-in' : '' %>">
    <%= render 'shared/navbar' %>

    <%= yield %>

    <%= render 'shared/footer' %>
  </div>

  <%= render('shared/google_analytics') if render_ga? %>
</body>
</html>
